@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: hsl(229, 6%, 66%);
    font-size:15px;
}
.container{
    margin: 0 auto;
    width: 375px;
    font-family: 'Poppins', sans-serif;
    padding: 90px 0 30px 0;
    background-color: hsl(0, 0%, 98%);
}
p{
    color: hsl(229, 6%, 66%);
}
h1{
    font-size: 20px;
    padding: 25px 0 5px 25px;
}

.first-sec{
    padding: 0px 0 75px 40px;
}
.first-sec #init{
 font-size: 24px;
 color: hsl(234, 12%, 34%);
}
.first-sec h1{
    font-size: 24px;
    padding: 0 0 18px 0;
}
.first-sec p{
    padding-right: 20px; 
}
.second-sec {
    width: 305px;
    border-top: 4px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    margin: 0px 0 20px 35px;
    box-shadow: 5px 10px 15px -4px hsl(234, 12%, 34%);
    padding-bottom: 20px;
}
.second-sec p{
    padding: 0 25px 35px;
    font-size: 13px;
}
.second-sec img{
    width: 60px;
    margin-left: 220px;
}
.third-sec {
    width: 305px;
    border-top: 4px solid hsl(0, 78%, 62%);
    border-radius: 5px;
    margin: 0px 0 20px 35px;
    box-shadow: 5px 10px 15px -4px hsl(234, 12%, 34%);
    padding-bottom: 20px;
}
.third-sec p{
    padding: 0 25px 35px;
    font-size: 13px;
}
.third-sec img{
    width: 60px;
    margin-left: 220px;
}
.forth-sec {
    width: 305px;
    border-top: 4px solid hsl(34, 97%, 64%);
    border-radius: 5px;
    margin: 0px 0 20px 35px;
    box-shadow: 5px 10px 15px -4px hsl(234, 12%, 34%);
    padding-bottom: 20px;
}
.forth-sec p{
    padding: 0 25px 35px;
    font-size: 13px;
}
.forth-sec img{
    width: 60px;
    margin-left: 220px;
}
.fifth-sec {
    width: 305px;
    border-top: 4px solid hsl(212, 86%, 64%);
    border-radius: 5px;
    margin: 0px 0 20px 35px;
    box-shadow: 5px 10px 15px -4px hsl(234, 12%, 34%);
    padding-bottom: 20px;
}
.fifth-sec p{
    padding: 0 25px 35px;
    font-size: 13px;
}
.fifth-sec img{
    width: 60px;
    margin-left: 220px;
}
